---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Rock, Paper, Scissors, Duck">
	<main>
		<form method="post" action="/new">
			<h3>Create a new game</h3>
			<input required type="text" placeholder="Name" name="name" />
            <script type="application/javascript">
                const input = document.currentScript.previousElementSibling
                const url = new URL(location)

                input.value = url.searchParams.get('name')
            </script>
            <p class="error">
                Nama taken
            </p>

			<button name="game" value="rpsd">Rock, Paper, Scissors, Duck</button>
			<button name="game" value="ss">Simon says</button>
		</form>
	</main>
</Layout>

<style>
    .error {
        color: red;
    }
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	input {
		padding: 0.5rem;
		margin: 0.5rem;
		border: 3px solid #575757;
		border-radius: 5px;
	}

	button {
		min-width: 150px;
		padding: 0.5rem;
		margin: 0.5rem;
		border: 3px solid #575757;
		border-radius: 5px;
		color: #000;
		background-color: #00ff80;
		font-weight: bold;
		cursor: pointer;
		text-transform: uppercase;
	}

	form:invalid>button {
		opacity: 0.5;
		cursor: not-allowed;
	}
</style>
