---
import Layout from "@/layouts/Layout.astro";
import { UnlimitedLinks } from "@/components/controller/unlimitedLinks/UnlimitedLinks";
import "@/js/clientAlarm";
import { Header } from "@/components/game/header/Header";
---

<Layout title="Rock, Paper, Scissors, Duck">
    <Header client:idle />
    <script src="@/js/clientAlarm.js"></script>
    <main>
        <h1>Rock, Paper, Scissors, Duck</h1>
        <UnlimitedLinks client:idle />
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>
