---
import Layout from "../layouts/Layout.astro";
import { NewMatch } from "@/components/newMatch/newMatch";
---

<Layout title="Rock, Paper, Scissors, Duck">
	<main>
		<h1>Create a new match</h1>
		<NewMatch client:idle />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

</style>
